<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask-SocketIO Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
</head>
<body>
    <ul id="messages"></ul>
    <form id="form" action="" onsubmit="sendMessage(); return false;">
        <input id="message_input" autocomplete="off" /><button>Send</button>
    </form>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('message', function(msg){
            var ul = document.getElementById('messages');
            var li = document.createElement('li');
            li.appendChild(document.createTextNode(msg));
            ul.appendChild(li);
        });

        function sendMessage() {
            var messageInput = document.getElementById('message_input');
            var message = messageInput.value;
            socket.emit('message', message);
            messageInput.value = '';
        }
    </script>
</body>
</html>
